{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <header>
        <h1><a href="{{ landing_page }}">CustomPcSpecialists</a></h1>
    </header>

    <a href="{{ main_page }}">Go Back</a>

    <div class="content-div">
        <h2>{{ page_heading2 }}</h2>

        <form action="{{ action }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="product_id" value="{{ item['product_id'] }}">
            <label for="product_name">*Name </label>
            <input type="text" name="product_name" required>

            <label for="type">*Type </label>
            <select name="type" required>
                {% for type in types %}
                    <option value="{{ type }}">{{ type }}</option>
                {% endfor %}
            </select>

            <label for="description">Description </label>
            <textarea name="description" rows="10" cols="100" ></textarea>

            <label for="stock">*Stock </label>
            <input type="text" maxlength="4" name="stock" size="5" required>

            <label for="price">*Price </label>
            <input type="text" name="price" maxlength="7" size="7" required>

            <label for="product_image">Image Url</label>
            <input type="file" name="product_image">

            <input type="submit" name="product_submit" value="Add Product">
        </form>
        <span>{{ message }}</span>
    </div>
{% endblock %}