{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <header>
        <h1><a href="{{ landing_page }}">CustomPcSpecialists</a></h1>
    </header>

    <a href="{{ main_page }}">Go Back</a>

    <div class="product-form">
        <h2>{{ page_heading2 }}</h2>

        <form action="{{ action }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="product_id" value="{{ item['product_id'] }}">
            <div class="product-row">
                <div class="products-col1">
                    <label for="product_name">*Name </label>
                </div>
                <div class="products-col2">
                    <input type="text" name="product_name" maxlength="60" size="70" required>
                </div>
            </div>
            <div class="product-row">
                <div class="products-col1">
                    <label for="type">*Type </label>
                </div>
                <div class="products-col2">
                    <select name="type" required>
                        {% for type in types %}
                            <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="product-row">
                <div class="products-col1">
                    <label for="description">Description </label>
                </div>
                <div class="products-col2">
                    <textarea name="description" rows="10" cols="100" ></textarea>
                </div>
            </div>
            <div class="product-row">
                <div class="products-col1">
                    <label for="stock">*Stock </label>
                </div>
                <div class="products-col2">
                    <input type="text" maxlength="4" name="stock" size="5" required>
                </div>
            </div>
            <div class="product-row">
                <div class="products-col1">
                    <label for="price">*Price </label>
                </div>
                <div class="products-col2">
                    <input type="text" name="price" maxlength="7" size="7" required>
                </div>
            </div>
            <div class="product-row">
                <div class="products-col1">
                    <label for="product_image">Image Url</label>
                </div>
                <div class="products-col2">
                    <input type="file" name="product_image">
                </div>
            </div>

            <button type="submit" value="Add Product"> Add Product </button>
        </form>
        <span>{{ message }}</span>
    </div>
{% endblock %}