{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
<header>
    <h1><a href="{{ landing_page }}">CustomPcSpecialists</a></h1>
</header>

<div class="content-div">
    <h2>{{ page_heading2 }}</h2>

    <form action="{{ action }}" method="post">
        <label for="product_name">*Name </label>
        <input type="text" name="product_name" >

        <label for="type">*Type </label>
        <select>
            {% for type in types %}
                <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select>

        <label for="description">Description </label>
        <textarea name="description" rows="10" cols="100"></textarea>

        <label for="stock">*Stock </label>
        <input name="text" maxlength="4" name="stock" size="5">

        <label for="price">*Price </label>
        <input type="text" name="price" maxlength="7" size="7">

        <label for="product_image">Image Url</label>
        <input type="url" name="product_image">

        <input type="submit" name="product_submit" value="Add Product">
    </form>
</div>
{% endblock %}