{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <header>
        <h1><a href="{{ landing_page }}">CustomPcSpecialists</a></h1>
    </header>

    <div class="content-div">
        <h2>{{ page_heading2 }}</h2>

        <div >
            <a href="{{ add_admin }}">Add Admin Users</a>
            <a href="{{ view_user }}">View all users</a>
            <a href="{{ assign_build }}">Assign Builds</a>
            <a href="{{ view_messages }}">Messages</a>
            <a href="{{ order_interface }}">Orders</a>
            <a href="{{ add_products }}">Add products</a>
            <a href="{{ products_list }}">Products List</a>
            <a href="#">Change Slideshow</a>
        </div>
    </div>
{% endblock %}