{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
    <div id="banner-div">
    <header>
        <h1><a href="{{ landing_page }}">CustomPcSpecialists</a></h1>
        {% if signIn.active %}
            <div class="menu" id="menu-toggle">{{ signIn.user }}</div>
            <nav id="menu-nav">
                <a href="youraccount">Your Account</a>
                <a href="#">Your Orders</a>
                <a href="#">Logout</a>
            </nav>
        {% else %}
            <div id="login-bar">
                <a href="{{ login }}">Login</a>
                <a href="{{ signup }}">Sign Up</a>
            </div>
        {% endif %}
        <nav>
            <a href="#">Desktop PC</a>
            <a href="#">Laptops</a>
            <a href="#">Contact Us</a>
            <a href="#">Monitors</a>
            <a href="#">Peripherals</a>
        </nav>

        <form action="{{ action }}" method="post" id="search">
            <input type="text" maxlength="100" size="100">
            <input type="submit" value="search">
        </form>
    </header>
    <div id="clear-div"></div>
{% endblock %}