{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
    <div id="banner-div">
    <header>
        <h1><a href="{{ landing_page }}">CustomPcSpecialists</a></h1>
        {% if session.active_admin %}
            <div class="menu">{{ session.user }}</div>
            <nav id="menu-nav">
                <a href="admininterface">Admin Interface</a>
                <a href="logout">Logout</a>
            </nav>
        {% elseif session.active_user %}
        <div class="menu">{{ session.user }}</div>
        <nav id="menu-nav">
            <a href="youraccount">Your Account</a>
            <a href="yourorder">Your Orders</a>
            <a href="logout">Logout</a>
        </nav>
            {% else %}
                <div id="login-bar">
                    <a href="{{ login }}">Login</a>
                    <a href="{{ signup }}">Sign Up</a>
                </div>
        {% endif %}
        <nav id="nav-options">
            <a href="desktops">Desktop PC</a>
            <a href="laptops">Laptops</a>
            <a href="monitor">Monitors</a>
            <a href="peripherals">Peripherals</a>
        </nav>
        <a href="cart" id="cart"><span id="cart_count">{{ cart_count }}</span> Cart</a>
        <form action="search" method="get" id="search">
            <input type="search" name="search" maxlength="100" size="100">
            <button type="submit" value="search">Search</button>
        </form>
    </header>
    </div>
{% endblock %}