{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <header>
        <h1><a href="{{ landing_page }}">CustomPcSpecialists</a></h1>
    </header>

        <h2>{{ page_heading2 }}</h2>

    <div id="account-details">
        <label>username: {{ username }}</label>
        <a href="editusername">edit username</a>
        <br>
        <label>email: {{ email }}</label>
        <a href="editemail">edit email</a>
        <br>
        <label>password: *********</label>
        <a href="editpassword">edit password</a>
        <br>
    </div>

    <h3>{{ page_heading3 }}</h3>

    {% if personal_info_exists == true %}
        <div id="personal-info">
            {% for details, info in personal_info %}
                <label>{{ details }}: {{ info }}</label>
                <a href="edit{{ details }}">edit {{ details }}</a>
                <br>
            {% endfor %}
        </div>
    {% else %}
    <div id="personal-info">
        <label>Address:</label>
        <a href="addpersonalinfo">Add Personal Info</a>
    </div>
    {% endif %}
{% endblock %}