{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <header>
        <h1><a href="{{ landing_page }}">CustomPcSpecialists</a></h1>
    </header>

        <h2>{{ page_heading2 }}</h2>

    <div id="account-details">
        <label>username: {{ username }}</label>
        <a href="editusername">edit username</a>
        <br>
        <label>email: {{ email }}</label>
        <a href="editemail">edit email</a>
        <br>
        <label>password: *********</label>
        <a href="editpassword">edit password</a>
        <br>
    </div>

    <h3>{{ page_heading3 }}</h3>

    <div id="personal-info">
        <label>Address:</label>
        <a href="addpersonalinfo">Add Personal Info</a>
    </div>

{% endblock %}