{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <header>
        <h1><a href="{{ landing_page }}">CustomPcSpecialists</a></h1>
    </header>

    <div class="content-div">
        <h2>{{ page_heading2 }}</h2>
        <form action="{{ action }}" method="post">
            <div id="options-filter">
                <input type="submit" name="filter_admin" value="Filter Admin">
                <input type="submit" name="filter_user" value="Filter User">
                <input type="submit" name="reset" value="reset">
            </div>
        </form>
        <form action="{{ action2 }}" method="post">
            <div id="options-delete">
                <button type="submit" value="Delete User">Delete User</button>
            </div>
            <table>
                <tr>
                    <th></th><th>User ID</th><th>Username</th><th>Email</th><th>Role</th>
                </tr>
                {% for user in users  %}
                    <tr>
                        <td><input type="checkbox" name="data{{ user['user_id'] }}" value="{{ user['user_id'] }}"></td>
                        <td>{{ user['user_id'] }}</td>
                        <td>{{ user['username'] }}</td>
                        <td>{{ user['email'] }}</td>
                        <td>{{ user['role'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>
{% endblock %}