{% extends 'banner.html.twig' %}
{% block content %}
    <div class="content-div">
        <h2>{{ heading }}</h2>

        <div>
            <table>
                <tr>
                    <th>Order ID</th></th><th>Description</th><th>Price</th><th>Quantity</th><th>Date of Purchase</th><th>Order Status</th>
                </tr>
                {% for order in orders %}
                    <tr>
                        <td>{{ order['order_id'] }}</td>
                        <td>{{ order['description'] }}</td>
                        <td>£{{ order['total'] }}</td>
                        <td>{{ order['quantity'] }}</td>
                        <td>{{ order['order_date'] }}</td>
                        <td>{{ order['status'] }}</td>
                        <td>
                            <a href="contact?orderID={{ order['order_id'] }}">Contact Seller</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}